<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">Navbar</span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/surveys">Surveys</a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>