<div class="container">
    <h1 style="margin-top: 2em; margin-bottom: 1em;">Available surveys</h1>
   
        <app-survey-list-item class="card" style="margin-bottom: 1em;" *ngFor="let survey of surveys" [survey]="survey"></app-survey-list-item>
    
</div>

<!-- {{ surveys | json}} -->
<!-- <button class="btn btn-primary"  (click)="load()" style="margin-top: 3em;">Load Surveys</button>
 -->